# Toronto Capstone Project

## Part 1 of Assignment

#### Importing and processing data

In [50]:
import requests
import lxml.html as lh
import bs4 as bs4
import urllib.request
import pandas as pd
import numpy as np

In [42]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
link = requests.get(url)
soup = bs4.BeautifulSoup(link.content,'lxml')
table = soup.find_all('table')[0]
tor = pd.read_html(str(table))
toronto = pd.read_json(tor[0].to_json(orient='records'))

In [68]:
toronto = toronto[['Postal Code','Borough','Neighbourhood']]
toronto.head()

  Postal Code           Borough              Neighbourhood
0         M1A               NaN                        NaN
1         M2A               NaN                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

#### Getting the original size of the data set

In [69]:
toronto.shape[0]

180

#### Replacing Not Assigned values with NaN and dropping the NaNs

In [70]:
toronto.replace("Not assigned", np.nan, inplace = True)
toronto.head(5)

  Postal Code           Borough              Neighbourhood
0         M1A               NaN                        NaN
1         M2A               NaN                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [71]:
toronto2 = toronto.dropna()

In [72]:
toronto2.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [73]:
toronto2.shape

(103, 3)

#### Checking for duplicates in Postal Code in order to merge values of neighbourhoods

In [104]:
toronto2.duplicated(subset='Postal Code', keep='first')

2      False
3      False
4      False
5      False
6      False
8      False
9      False
11     False
12     False
13     False
14     False
17     False
18     False
20     False
21     False
22     False
23     False
26     False
27     False
30     False
31     False
32     False
36     False
39     False
40     False
41     False
45     False
46     False
47     False
48     False
49     False
50     False
54     False
55     False
56     False
57     False
58     False
59     False
63     False
64     False
65     False
66     False
67     False
68     False
72     False
73     False
74     False
75     False
76     False
77     False
80     False
81     False
82     False
83     False
84     False
85     False
86     False
89     False
90     False
91     False
92     False
93     False
94     False
95     False
98     False
99     False
100    False
102    False
103    False
104    False
107    False
108    False
109    False
111    False
112    False
113    False
114    False
116    False
117    False
120    False
121    False
122    False
126    False
129    False
130    False
135    False
138    False
139    False
142    False
143    False
144    False
147    False
148    False
151    False
152    False
153    False
156    False
157    False
160    False
165    False
168    False
169    False
178    False
dtype: bool

#### Check for any not assigned values in the neighbourhood column to equal it to its borough

In [105]:
toronto2['Neighbourhood'].isnull().values.any()

False

#### The final size of the data set as there was no need to further merge neighborhood values

In [106]:
size = toronto2.shape
print('The row size of this clean data set is now: ',size[0], 'and there are',size[1],'columns.')

The row size of this clean data set is now:  103 and there are 3 columns.